/* HeroesComponent's private CSS styles */
h2 {
  text-align: left;
  color: #369;
}

.skippers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.skippers li {
  position: relative;
  cursor: pointer;
}

.skippers li:hover {
  left: .1em;
}

.skippers a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin-top: 5px;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.skippers a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.skippers a:active {
  background-color: #525252;
  color: #fafafa;
}

.skippers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}